body{
    margin: 0;
    padding: 0;

}
.conatiner {
    position: relative;
    text-align: center;
    color: white;
}

.row{
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
header{
    position: relative;
    text-align: center;
    color: white;
}

#header-pic{
    width: 100%;
    height: 40%;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
#admin-link{
    position: absolute;
    top: 8px;
    left: 16px;
    text-decoration: none;
    color: white;
}

#content-postschema{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.rubrik-text{
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 30%;
    padding-left: 10px;
    padding: 10px;
}
.date{
    font-style: oblique;
}
.content-text{
    font-size: 20px;
}
.author-text{
    color: rgb(126, 126, 126);
    text-transform: uppercase;
}