/*----------------------------------------manage page börjar------------------------------*/
body{
  margin: 0;
  padding: 0;
}
.conatiner {
  position: relative;
  color: white;
}
.row{
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
header{
  position: relative;
  text-align: center;
  color: white;
}
#header-pic{
  width: 100%;
  height: 40%;
}
.header{
  text-align: center;
  color: black
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
h3{
  font-size: 60px;
  padding-top: 100px;
}
#start-link{
  position: absolute;
  top: 8px;
  left: 16px;
  text-decoration: none;
  color: white;
}
#start{
  position: absolute;
  top: 8px;
  left: 16px;
  text-decoration: none;
  color:black;
}
#skapa-link{
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-decoration: none;
  color: white;
}
#skapa-link:hover, #start-link:hover{
  color: darkgray;
}
#blog-posts{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: collapse;
}
thead tr th{
  text-transform: uppercase;

}
/* #title-table{
  
}
#content-table{
  width: 50%;
  padding: 5px;
}
#author-table{
  
}
#date-table{

} */
#link-table{
  width: 100px;
} 

#blog-posts td, #blog-posts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#blog-posts tr:nth-child(even) {
  background-color: #f2f2f2;
}
#blog-posts tr:hover {
  background-color: #ddd;
}
#blog-posts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
 
} 
/*--------------------------------------------manage page slutar-------------------------*/

/*-----------------------------------------create post börjar----------------------------*/
body{
    margin: 0;
    padding: 0;
}
.form{
  padding: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
header{
    position: relative;
    text-align: center;
    color: white;
}
#header-pic{
    width: 100%;
    height: 40%;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type=submit] {
  background-color: rgba(0, 0, 0, 0.358);
  color: white;
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: white;
  color: black;
}
.container {
  border-radius: 5px;
  background-color: #ccc;
  padding-bottom: 50px;
}
/*-----------------------------------------create post ----------------------------*/
#start{
    position: absolute;
  top: 8px;
  left: 16px;
  text-decoration: none;
  color: white;
}
#start:hover{
  color: darkgray;
}
#title {
  float: left;
  width: 100%;
  margin-top: 6px;
}
#author {
  float: left;
  width: 100%;
  margin-top: 6px;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
    
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#content{
  height: 250px;
}
